<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${book.book_id}">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/css/style.css}"/>
</head>
<body>
<h2 th:text="${book.name+' '+book.author+' ' + book.year+' year of realise'}"></h2>
<form th:method="patch" th:action="@{/book/{id}/give(id=${book.book_id})}">
    <div th:if="${personWhoUsingBook!=null}">
      <span th:text="${'The book id busy reading it '+ personWhoUsingBook.fio}"></span>
        <input type="submit" name="freeBook" value="free that book">
    </div>
    <br>
    <div th:unless="${personWhoUsingBook!=null}">

        <label for="person">give a book</label>
        <select th:object="${person}" th:field="*{person_id}" id="person">
          <option th:each="person: ${people}" th:value="${person.person_id}" th:text="${person.fio}"></option>
        </select>
        <input type="submit" name="give" value="Give a book to reader"/>
    </div>

</form>
<br>
<div class="pizda">
    <a th:href="@{/book/edit/{id}(id=${book.book_id})}" class="butt">Edit</a>
    <a th:href="@{/book}" class="butt">return to books</a>
    <form th:method="delete" th:action="@{/book/{id}/delete(id=${book.book_id})}">
        <input type="submit" style="height:30px;color:white; background: #aa0000" class="butt" value="delete book">
    </form>
</div>
</body>
</html>